@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Vazirmatn-Medium";
    src: url("/fonts/webfonts/Vazirmatn-RD-FD-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  body {
    background-color: #f7f8f8;
  }
  #__next {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 100dvh;
    padding-top: 1.5rem;
    font-family: "Vazirmatn-Medium", sans-serif;
  }
}

@layer components {
  .border-left::after {
    content: "";
    position: absolute;
    background: gray;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 0.5px;
    height: calc(100% + 20px);
  }
}
